<au-header page-what="pageWhat"></au-header>
<div class="container">
  <div class="row">
    <div class="jumbotron welcome">
      <h2 class="text-center">The Human Rights Defenders Forum</h2>
      <p class="text-center">Supporting human rights defenders in Myanmar.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-repeat="alert in alerts | limitTo: 4">
      <div class="thumbnail">
        <a href="#">
          <img class="col-xs-4" src='{{alert.image}}'>
        </a>
        <div class="caption">
          <h3>{{alert.title}}</h3>
          <p>By <strong>{{alert.author}}</strong> {{alert.date}}</p>
          <p>{{alert.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
